<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" />
  <input formControlName="type" />
  <input formControlName="duration" />
  <input formControlName="date" />
  <input type="checkbox" formControlName="completed" />
  <button type="submit">SUBMIT</button>
</form>
<div *ngFor="let workout of workouts">
  <div>
    {{ workout.date }} - {{ workout.name }} - {{ workout.type }} -
    {{ workout.duration }} - {{ workout.completed }}
    <button (click)="startEdit(workout)">EDIT</button>
    <button (click)="deleteWorkout(workout.id!)">DELETE</button>
  </div>
</div>
